{% extends 'main/index.html' %}
{% block main %}
    {% if recipes %}
        <div class="row">
            <h2 style="margin-bottom:20px;">Рецепты спортивного питания</h2>
            {% for recipe in recipes %}
                <div class="col-md-3" style="margin-left: 0.5rem;">
                    <div class="card" style="width: 18rem; height: 28rem; margin-right: 2rem; margin-bottom: 2rem;">
                      <img src="{{ recipe.photo.url }}" class="card-img-top" alt="..." style="height: 14rem; width: 18rem; border-radius: 3px;">
                        <div class="card card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p class="card-text">{{recipe.desc|truncatechars:100}}</p>
                            <a href="{% url 'recipe' recipe.slug %}" class="btn btn-primary">Перейти к рецепту</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if recipe %}
        <div class="row">
            <h2>{{recipe.title}}</h2>
            <img src="{{ recipe.photo.url }}" class="card-img-top" alt="..." style="height: 18rem; width: 22rem; border-radius: 3px; margin-bottom:2rem;">
            <h5>{{recipe.desc}}</h5>
            <span style="margin-top:1rem; white-space: pre-line">{{recipe.ings}}</span><br><br><br>
        </div><br><br>
        <div class="row">
            {% for step in steps %}
                <div style="width:50rem; margin-bottom:0.5rem;">
                    <span style="width:50rem; display:inline-block;">{{step.text}}</span><br><br>
                </div><br><br><br>
            {% endfor %}
        </div><br><br>
    {% endif %}
{% endblock %}